body {
    background-color: hsl(212, 45%, 89%);
}

img {
    border-radius: 25px;
}

.area { 
    background-color: hsl(0, 0%, 100%);
    font-family: 'Outfit';
    text-align: center; 
}

.p1 {
    font-weight: 700;
}

.p2 {
    font-weight: 400;
}

.attribution { 
    font-size: 11px; 
    text-align: end; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}